import("ggplotFL")
import("data.table")
import("xtable")
import("patchwork")
importFrom("stats", "quantile")
importFrom("utils", "data")
importFrom("ggstance",
  "geom_linerangeh")
exportPattern("^[^\\.]")
